//COLOURS
$brand-light: #3D8f31;
$brand-dark: #146a20;

$price-light: #FDC103;
$price-dark: #f09218;

$text-light: #d2d2d2;
$text-middle: #a2a2a2;
$text-dark: #343133;

$main-light: #fff;
$main-dark: #000;


//TYPOGRAPHY
$font-primary: 'Geori', sans-serif;
$font-secondary: 'Roboto', 'Oxygen', sans-serif;
$font-size: 16px;
$line-height: 1.5;
$font-color-base: $main-dark;
$font-color-light: $main-light;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-hight: 800;


//BUTTONS
$btn-primary: $brand-light;
$btn-primary-border: $brand-dark;
$btn-secondary: $price-dark;
